
@model List<Image.Models.Entities.PackageItem>
@{
    Layout = "Layout/_LayoutDashboard";
}
<table id="example-2" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>