
@{
    Layout = "Layout/Dashboard/_LayoutDashboard";
    ViewBag.PageTitle = "Dashboard : Home";
    ViewBag.PageHeader = "Dashboard";
}
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">New Comments</h5>
                <div class="fs-36 fw-600 mb-20 counter">1,206</div>
                <div id="esp-comment" data-percent="75" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-comment-alt text-muted"></i></div>
                <div class="clearfix mt-20">
                    <div class="pull-left">
                        <div class="fs-12">Today</div>
                        <div class="text-success">+2.43%</div>
                    </div>
                    <div class="pull-right">
                        <div class="fs-12">Yesterday</div>
                        <div class="text-danger">-1.02%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">New Photos</h5>
                <div class="fs-36 fw-600 mb-20 counter">350</div>
                <div id="esp-photo" data-percent="55" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-image text-muted"></i></div>
                <div class="clearfix mt-20">
                    <div class="pull-left">
                        <div class="fs-12">Today</div>
                        <div class="text-danger">-0.23%</div>
                    </div>
                    <div class="pull-right">
                        <div class="fs-12">Yesterday</div>
                        <div class="text-success">+1.02%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">New Users</h5>
                <div class="fs-36 fw-600 mb-20 counter">890</div>
                <div id="esp-user" data-percent="30" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-user text-muted"></i></div>
                <div class="clearfix mt-20">
                    <div class="pull-left">
                        <div class="fs-12">Today</div>
                        <div class="text-success">+0.09%</div>
                    </div>
                    <div class="pull-right">
                        <div class="fs-12">Yesterday</div>
                        <div class="text-danger">-0.02%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget text-center">
            <div class="widget-body">
                <h5 class="mb-5">New Feedbacks</h5>
                <div class="fs-36 fw-600 mb-20 counter">1,609</div>
                <div id="esp-feedback" data-percent="20" style="height: 140px; width: 140px; line-height: 120px; padding: 10px;" class="easy-pie-chart fs-36"><i class="ti-receipt text-muted"></i></div>
                <div class="clearfix mt-20">
                    <div class="pull-left">
                        <div class="fs-12">Today</div>
                        <div class="text-success">+3.29%</div>
                    </div>
                    <div class="pull-right">
                        <div class="fs-12">Yesterday</div>
                        <div class="text-success">+2.32%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>