@using Image.Models.Entities
@{
    Layout = "Layout/LandingPage/_LandingPageLayout";
    ViewBag.PageTitle = "Photo Studio | Home";
}
@section Css{ 
    <style>
        .widget-body {
            padding: 20px;
        }
    </style>
}
<!-- START HTML5 VIDEO BACKGROUNSD -->
<section id="home" class="home-static html5-video">
    <video class="text-center" muted="" autoplay="" loop="">
        <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
        <source type="video/webm" src="~/LandingPage/assets/video/video.webm">
        <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
        <source type="video/mp4" src="~/LandingPage/assets/video/video.mp4">
        Your browser does not support the video tag.
    </video>
    <div class="home-static-text htm5-video-text text-center">
        <h2 data-wow-delay="0.5s" data-wow-duration="3s" class="wow fadeInLeft">Korna present what you love to do</h2>
        <p data-wow-delay="0.5s" data-wow-duration="3s" class="wow fadeInRight">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a data-wow-delay="0.5s" data-wow-duration="3s" class="btn-home-slider page-scroll wow fadeInUp" href="#about">Learn More</a>
    </div>
</section>
<!-- END HTML5 VIDEO BACKGROUNSD -->


<!-- START ABOUT -->
<section id="about" class="about-us section-padding">
    <div class="container text-center">
        <div class="row">
            <div class="section-title">
                <h2>About us</h2>
                <span>
                    <i class="fa fa-heart-o"></i>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- END SECTION TITLE -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-single">
                    <div class="icon">
                        <span>
                            <i class="fa fa-coffee"></i>
                        </span>
                    </div>
                    <h4>Our history</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-single">
                    <div class="icon">
                        <span>
                            <i class="fa fa-tablet"></i>
                        </span>
                    </div>
                    <h4>Our Mission</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-single">
                    <div class="icon">
                        <span>
                            <i class="fa fa-codepen"></i>
                        </span>
                    </div>
                    <h4>Our process</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-single">
                    <div class="icon">
                        <span>
                            <i class="fa fa-external-link"></i>
                        </span>
                    </div>
                    <h4>Our vision</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END ABOUT -->

<!-- START FEATURES -->
<section class="template-feature section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Awesome Features</h2>
                <span>
                    <i class="fa fa-bicycle"></i>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- END SECTION TITLE -->
            <div class="col-md-6 col-sm-6 col-xs-12 single-feature-border">
                <div class="circle-point circle-point-1"></div>
                <div class="single-feature">
                    <div class="single-feature-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <div class="single-feature-text">
                        <h3>Customization</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <p>
                            <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="single-feature no-border">
                    <div class="single-feature-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="single-feature-text">
                        <h3>Clean design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <p>
                            <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="circle-point circle-point-2"></div>
            </div>
            <!-- END COL -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-feature">
                    <div class="single-feature-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="single-feature-text">
                        <h3>Well coded</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <p>
                            <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="single-feature no-border">
                    <div class="single-feature-icon">
                        <i class="fa fa-television"></i>
                    </div>
                    <div class="single-feature-text">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <p>
                            <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END FEATURES -->

<!-- START SERVICES -->
<section id="service" class="our-services section-padding section-back-image" data-background="assets/img/bg/service-bg.jpg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title">
                <h2 class="section-title-white">Our creative services</h2>
                <span class="section-title-white-span">
                    <i class="fa fa-sliders"></i>
                </span>
                <p class="section-dec-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- END SECTION TITLE -->
            <div class="services-slider">
                <div class="services">
                    <div class="icon">
                        <span>
                            <i class="fa fa-mobile"></i>
                        </span>
                    </div>
                    <h4>Development</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="services">
                    <div class="icon">
                        <span>
                            <i class="fa fa-camera"></i>
                        </span>
                    </div>
                    <h4>Design</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="services">
                    <div class="icon">
                        <span>
                            <i class="fa fa-user-o"></i>
                        </span>
                    </div>
                    <h4>Support</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="services">
                    <div class="icon">
                        <span>
                            <i class="fa fa-connectdevelop"></i>
                        </span>
                    </div>
                    <h4>Marketing</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
            <!-- END SERVICES SLIDER -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END SERVICES -->

<!-- START TESTIMONIAL -->
<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="section-title">
                <h2>Customers Stories</h2>
                <span>
                    <i class="fa fa-user"></i>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- END SECTION TITLE -->
        </div>
        <!--- END ROW -->
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="client-testimonial">
                    <div class="box-testimony">
                        <blockquote>
                            <span class="quote">
                                <span>
                                    <i class="fa fa-quote-right"></i>
                                </span>
                            </span>
                            <p>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</p>
                        </blockquote>
                        <p class="author">
                            Hash Theme, CEO <span class="subtext">Company Name</span>
                        </p>
                    </div>
                    <div class="box-testimony">
                        <blockquote>
                            <span class="quote">
                                <span>
                                    <i class="fa fa-quote-right"></i>
                                </span>
                            </span>
                            <p>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</p>
                        </blockquote>
                        <p class="author">
                            Hash Theme, CEO <span class="subtext">Company Name</span>
                        </p>
                    </div>
                    <div class="box-testimony">
                        <blockquote>
                            <span class="quote">
                                <span>
                                    <i class="fa fa-quote-right"></i>
                                </span>
                            </span>
                            <p>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</p>
                        </blockquote>
                        <p class="author">
                            Hash Theme, CEO <span class="subtext">Company Name</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END TESTIMONIAL -->

<!-- START COUNDOWN -->
<section class="counter-section section-padding">
    <div class="container">
        <div class="row text-center counter-border wow fadeInDown">
            <div class="single-counter col-md-3 col-sm-6">
                <i class="fa fa-paper-plane-o"></i>
                <h2 class="timer"> 95</h2>
                <h5>Awards</h5>
            </div>
            <!--- END COL -->
            <div class="single-counter col-md-3 col-sm-6">
                <i class="fa fa-user-o"></i>
                <h2 class="timer">104 </h2>
                <h5>Happy Clients</h5>
            </div>
            <!--- END COL -->
            <div class="single-counter col-md-3 col-sm-6">
                <i class="fa fa-diamond"></i>
                <h2 class="timer"> 624 </h2>
                <h5>Cases</h5>
            </div>
            <!--- END COL -->
            <div class="single-counter col-md-3 col-sm-6">
                <i class="fa fa-briefcase"></i>
                <h2 class="timer">740</h2>
                <h5>Projects</h5>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END COUNDOWN -->

<!-- START CONTACT -->
<section id="contact" class="contact-area section-padding section-back-image" data-background="~/LandingPage/assets/img/bg/contact-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2 class="section-title-white">Connect with us</h2>
                <span class="section-title-white-span">
                    <i class="fa fa-rocket"></i>
                </span>
                <p class="section-dec-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- END SECTION TITLE -->

            <!-- START CONTACT ADDRESS -->
            <div class="text-center clearfix">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-address">
                            <i class="fa fa-phone"></i>
                            <p>(+1) 0162-326-653</p>
                            <p>(+1) 0174-765-763</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-address">
                            <i class="fa fa-envelope-o"></i>
                            <p>mail@example.com</p>
                            <p>mail@example.com</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-address">
                            <i class="fa fa-map-marker"></i>
                            <p>233 Laki Market Chaktsai Goli, CH 26431 </p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-address">
                            <i class="fa fa-clock-o"></i>
                            <p>Mon - Sat: 10.00 - 16.00</p>
                            <p>Mon - Sat: 10.00 - 16.00</p>
                        </div>
                    </div>
                    <!-- END COL -->

                </div>
                <!-- END ROW -->
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="contact">
                        <form id="contact-form" class="form" name="enq" method="POST" action="form-process.php">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message Here ..." required="required"></textarea>
                                </div>
                                <div class="form-group col-md-12 mb0 text-center">
                                    <div class="actions">
                                        <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn btn-lg btn-contact-bg" title="Click here to submit your message!"/>
                                        <img src="~/LandingPage/assets/img/ajax-loader.gif" width="16" height="16" id="loader" style="display: none" alt="loading">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END COL -->

            </div>
            <!--- END ROW -->
        </div>
        <!--- END CON -->
    </div>
</section>
<!-- END CONTACT -->

<!-- START MAP -->
<div id="map"></div>
<!-- END MAP -->